*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background: rgb(50, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container
{
    background: white;
    width: 97%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box1
{
    background: rgb(50, 47, 47);
    width: 98%;
    height: 120px;
    margin: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.rectangle
{
   border-top: dotted 15px white ;
   width: 100%;
   position: relative;
   left: 60px;
}
.pac-man
{
    position: absolute;
    top: -50px;
    left: -55px;
    animation: run 6s linear infinite  ;
    animation-delay: 0.5s;
}

.pac-man::before, .pac-man::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: solid 45px yellow;
    margin-top: -2px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
  }

.pac-man::after
{
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBottom 0.7s ease infinite;
  }
.monstre
{
    height: 90px;
    width: 90px;
    position: absolute; 
    top: -50px;
    left: 80px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background: 
            linear-gradient(-35deg, transparent 16px, red 0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 36px;
    animation: run  6s linear infinite, color  1s ease-in-out infinite; 
    
}
.boule1
{
    height: 25px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 10px;
    border-radius: 50%;
    background: white;
}
.iris1
{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 50%;
    background: blue;
    animation:shift  .9s linear infinite alternate; 
}
.boule2
{
    height: 25px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 40px;
    border-radius: 50%;
    background: white;
}
.iris2
{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 50%;
    background: red;
    animation:shift  .7s linear infinite alternate-reverse;
}

@keyframes shift 
{
    from
    {
        transform: translateX(100%);
    }
    to 
    {
        transform: translateX(0);
    }
}
@keyframes mouthTop 
{
    50% 
    {
      transform: rotate(44deg);
    }
  }

  @keyframes mouthBottom 
  {
    50% 
    {
      transform: rotate(-44deg);
    }
  }

  @keyframes run 
  {
    from
    {
        transform: translateX(0);
    }
    to 
    {
        transform: translateX(100vw);
    }
    
  }
  @keyframes color 
  {
    from
    {
        background: 
            linear-gradient(-35deg, transparent 16px, #69037b 0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 34px ;
    }
    to 
    {
        background: 
            linear-gradient(-35deg, transparent 16px, #9c2102 0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 34px ;
    }
    
  }

.stickers
{
    height: 500px;
    width: 100%;
     margin: 20px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.emoji
{
     height: 200px;
      width: 200px;
     margin: 20px;
     border-radius: 50%;
     box-shadow: inset 0px 0px 10px  rgb(15, 14, 12);
 background: orange;
}
.un , .deux
{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.yeux 
{
    height: 100px;
      width: 150px;
     margin: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.cercle
{
      height: 50px;
      width: 50px;
     /* margin: 20px; */
     border-radius: 50%;
     display: flex;
     justify-content: center;
     box-shadow: inset 0px 0px 10px ;
     background: linear-gradient( rgb(241, 241, 237) , rgb(226, 224, 221))

}
.petit-cercle
{
    height: 20px;
    width: 20px;
   border-radius: 50%;
   background: black;
}
.bouche
{
    height: 10px;
    width: 40px;
    background:rgb(232, 154, 8) ;
    box-shadow: inset 0px 0px 10px  ;
   /* border: groove 1px rgb(111, 75, 9); */
   border-radius: 10px;
}
.deux .cercle
{
    display: flex;
     align-items: center;
     margin-top: 20px;
     
}
.deux .bouche
{
    height: 70px;
    width: 80px;
    border-radius:50%;
    margin-bottom: 30px;
    border: red;
    background-color: rgb(185, 108, 53);
    position: relative;
    /* overflow: hidden; */
}
.cache
{
    height: 50px;
    width: 98px; 
    border-radius: 50% ;
    position: absolute;
    background-color: orange ;
    top: -25px; 
    left: -10px;
}
.langue
{
    height: 50px;
    width: 30px; 
    position: absolute;
    background-color: rgb(255, 0, 85) ;
    left: 27px;
    top: 29px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.trait
{
    position: absolute;
    height: 30px;
    width: 1px;
    background-color: orange;
    left: 15px;
    box-shadow: inset 0px 0px 10px  ;
}
.oeil
{
    background-color: rgb(185, 108, 53);
    height: 22px;
    width: 40px;
   border-radius: 50%;
   position: relative;
   top: 25px;
   left: 10px;
   box-shadow: inset 0px 0px 10px  ;
}
.cligne
{
    background-color: orange;
    height: 20px;
    width: 40px;
   border-radius: 50%;
   position: absolute;
   top: 5px;
   
  
}
.trois
{
    display: flex;
      
     justify-content: center;
     gap: 30px;
}
.trois .petit-cercle
{
    margin-top:70px ; 
    box-shadow: inset 0px 0px 10px  ;
    background-color: orange;
    height: 25px;
    width: 20px;
}

.triste
{
    height: 55px;
    width: 84px;
    border-radius:50%;
    margin-bottom: 30px;
    background-color: rgb(185, 108, 53);
    position: relative;
    top: 35px;
    left: 60px;
    box-shadow: inset 0px 0px 10px  ;
    /* overflow: hidden; */
}
.triste .cache
{
    height: 50px;
    width: 98px; 
    border-radius: 50% ;
    position: absolute;
    background-color: orange ;
    top: 6px; 
    left: -8px;
}