*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background: rgb(50, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container
{
    background: white;
    width: 97%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box1
{
    background: rgb(50, 47, 47);
    width: 100%;
    height: 120px;
    margin: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.rectangle
{
   border-top: dotted 15px white ;
   width: 100%;
   position: relative;
   margin-left: 50px;
   /* z-index: 120; */
}
.pac-man
{
    height: 90px;
    width: 90px;
    position: absolute;
    top: -50px;
    left: -25px;
    background-color: yellow;
    border-radius: 50%;
    animation: courir 6s linear infinite  ;
    /* z-index: -17; */
}
.triangle{
    width  : 100%;
    height :100%;
    clip-path: polygon(41% 52%, 100% 69%, 100% 11%);
    background: rgb(50, 47, 47);
     animation: path .5s linear infinite  alternate;
    /* z-index: -12;  */

  }
.monstre
{
    height: 90px;
    width: 90px;
    position: absolute;
    background-color: #9c2102;
    top: -50px;
    left: 80px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background: 
            linear-gradient(-35deg, transparent 16px, #9c2102 0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 36px;
           
    animation: courir  6s linear infinite, couleur  1s ease-in-out infinite; 
    
}

/* .monstre::after
{
    content: "";
    height: 20px;
    width: 95px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: 
            linear-gradient(-43deg, transparent 16px, #9c2102 0);
    linear-gradient(85deg, transparent 16px, rgb(50, 47, 47)  0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 34px ;
            /* animation: couleur  1s linear infinite ;
            animation: couleur  1s linear infinite ; 
} */

.boule1
{
    height: 25px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 10px;
    border-radius: 50%;
    background: white;
}
.iris1
{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 50%;
    background: blue;
    animation:shift  .9s linear infinite alternate; 
}
.boule2
{
    height: 25px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 40px;
    border-radius: 50%;
    background: white;
}
.iris2
{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 50%;
    background: red;
    animation:shift  .7s linear infinite alternate-reverse;
}
@keyframes shift {
    from
    {
        transform: translateX(100%);
    }
    to 
    {
        transform: translateX(0);
    }
}
  @keyframes path 
{
     0%
     {
        clip-path: polygon(41% 52%, 100% 56%, 100% 43%);
     }
     50%
     {
        clip-path: polygon(41% 52%, 100% 57%, 100% 37%);
     }
     75%
     {
        clip-path: polygon(41% 52%, 100% 69%, 100% 21%);
     }
     100%
     {
        clip-path: polygon(41% 52%, 100% 69%, 100% 11%);
     }
  }

  @keyframes courir {
    from
    {
        transform: translateX(0);
    }
    to 
    {
        transform: translateX(100vw);
    }
    
  }
  @keyframes couleur {
    from
    {
        background: 
            linear-gradient(-35deg, transparent 16px, #69037b 0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 34px ;
    }
    to 
    {
        background: 
            linear-gradient(-35deg, transparent 16px, #9c2102 0);
            background-repeat: repeat-x;
            background-position: left bottom;
            background-size: 34px ;
    }
    
  }

.stickers
{
    height: 500px;
    width: 100%;
    border: solid 1px blue;
     margin: 20px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.emoji
{
     height: 200px;
      width: 200px;
     margin: 20px;
     border-radius: 50%;
     box-shadow: inset 0px 0px 10px  rgb(92, 62, 5);
 background: linear-gradient( rgb(255, 251, 0) , orange)
}
.un , .deux
{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.yeux 
{
    height: 100px;
      width: 150px;
     margin: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.cercle
{
      height: 50px;
      width: 50px;
     /* margin: 20px; */
     border-radius: 50%;
     display: flex;
     justify-content: center;
     box-shadow: inset 0px 0px 10px ;
     background: linear-gradient( rgb(241, 241, 237) , rgb(226, 224, 221))

}
.petit-cercle
{
    height: 20px;
    width: 20px;
   border-radius: 50%;
   background: black;
}
.bouche
{
    height: 10px;
    width: 40px;
    background:rgb(232, 154, 8) ;
    box-shadow: inset 0px 0px 10px ;
   /* border: groove 1px rgb(111, 75, 9); */
   border-radius: 10px;
}
.deux .cercle
{
    display: flex;
     justify-content: center;
     align-items: center;
}
.deux .bouche
{
    height: 40px;
    width: 80px;
    border-radius: 50%;
}